#logo img {
  width: 100px;
  display: flex;
  margin: 25px auto auto 50px;
  justify-content: right;
  align-items: flex-start;
}

:root {
  --text-color: black;
  --background: linear-gradient(90deg, #f1eeee 0%, #1817172c 100%);
  --shadow-color: rgb(0, 0, 0);
  --blur-color:  rgba(128, 128, 128, 0.329);
  --icon-color:   rgb(163, 1, 1);
  --name-gradient: linear-gradient(90deg, rgb(32, 32, 32) 0%, #000213 100%);
  --switch-img:  white url(./darkside.svg) no-repeat center;
  --tema-side: 0;
}

.dark {
--text-color: white; 
--background: linear-gradient(90deg, rgb(32, 32, 32) 0%, #000213 100%);
--shadow-color: rgb(255, 255, 255);
--blur-color:   rgba(0, 0, 0, 0.1);
--icon-color:   rgb(231, 0, 0);
--name-gradient: linear-gradient(90deg, rgb(250, 250, 250) 0%, #ececec 100%);
--switch-img:  white url(./lightside.svg) no-repeat center;
--tema-side: 1;
}


#switch {
position: relative;
width: 120px;
display: flex;
margin: 25px auto auto 50px;
}


#switch button {
  background: var(--switch-img);
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
}

#temaClaro {
  visibility: hidden;
  display: inline;
  font-size: 20px;
  font-family: Poppins;    
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--icon-color);
  position: absolute;
  z-index: 1;
  transform: translateY(50%);
  top: 50%;
  right: var(--tema-side);
  transition: all  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#temaEscuro {
  visibility: hidden;
  display: inline;
  font-size: 20px;
  font-family: Poppins;    
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--icon-color);
  position: absolute;
  z-index: 1;
  transform: translateY(50%);
  top: 50%;
  right: var(--tema-side);
  transition: all  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Tema {
  visibility:visible;
  display: inline;
  font-size: 25px;
  font-family: Poppins;    
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--icon-color);
  position: absolute;
  z-index: 1;
  transform: translateY(50%);
  top: 50%;
  right: var(--tema-side);
}

#switch span {
  position: absolute;
  z-index: 0;
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 30px;
  background: var(--blur-color);
  border: solid var(--text-color) 5px;
  border-radius: 999px;
  transform: translateY(-50%);
  top: 50%;
}

.dark #switch button {
  right: 0;
  left: initial;
}

#logo{
  text-align: left;
}

#txt:hover{
  filter: blur(0px);
}

#txt {
  display: inline;
  font-size: 20px;
  font-family: Poppins;    
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--text-color);
  padding: 0px 60px;
  margin: 0px 2px;
}

body {

  background: var(--background);
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: cover;   
  }

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}


.center {
    background: var(--blur-color);
    backdrop-filter: blur(5px);
    padding: 25px 25px;
    text-align: center;
    text-decoration-thickness: auto; 
    display: flexbox;
    flex-direction: row;
    margin-top: 1px;
    border-radius: 30px;
    box-shadow: 10px 10px var(--shadow-color) ;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
    
  } 
  
  


#name{ 
  font-size: 80px;
  font-family: Poppins;    
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
  "BLED" 0,
  "SCAN" 0;
  background: var(--name-gradient);
  background-clip: text;
  color: transparent;
  text-align: center;
} 

#curso{

  font-size: 32px;
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0; 
  color: var(--text-color);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  
  }


.container {
  
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    color: #ffffff;
  }


@keyframes blurry {
  0% {font-size: 64px;}
  20% {font-size: 80px; filter: blur(10px);}
  40% {font-size: 100px; }
  60% {font-size: 150px;}  
  90% {font-size: 150px; color: var(--text-color); }
  100% {font-size: 64px; color: var(--text-color);}
}


.spotify{
  padding: 70px 0px 0px 0px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

ion-icon {
  color: var(--icon-color);
  padding-bottom: 5px;
  font-size: 64px;
  transition: font-size 2.5s ease-in-out;
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
}


ion-icon:hover{
  animation-name: blurry;
  animation-duration: 2s; 
  animation-fill-mode: forwards;
  animation-delay: -1s;

}

.legenda{
  color: var(--text-color);
  font-size: 16px;
  text-align: center;
  font-family: poppins;
}


#container {
  width: 360px;
  margin: auto; 
  padding: 24px;
}




