.center {
    background-color: #7e0000; /* Green */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration-thickness: auto; 
    display: inline-block;
    font-size: 32px;
  }

#name{ 
font-style: italic;
font-size: xx-large;
background-color: rgb(255, 0, 64);
} 
 



.container {
    height: 250px;
    position: relative;
    border: 1px solid red;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } 

.container {

    color: blanchedalmond;
}

.txt{

background-color: azure;
color: #000;
}

#button{
    background-color: red;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
  
    

}

#button:hover{ 

    background-color: rgb(255, 255, 255);
    border: red;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
} 

