#logo img {
  width: 100px;
  display: flex;
  margin: 25px auto auto 50px;
  justify-content: right;
  align-items: flex-start;
}

:root {
  --text-color: black;
  --background: linear-gradient(90deg, #f1eeee 0%, #1817172c 100%) 100vh 100vw;
  --shadow-color: rgb(0, 0, 0);
  --blur-color: rgba(128, 128, 128, 0.329);
  --icon-color: rgb(163, 1, 1);
  --name-gradient: linear-gradient(90deg, rgb(32, 32, 32) 0%, #000213 100%);
  --switch-img: white url(./darkside.svg) no-repeat center;
  --tema-side: 0;
}

.dark {
  --text-color: white;
  --background: linear-gradient(90deg, rgb(32, 32, 32) 0%, #000213 100%) 100vh
    100vw;
  --shadow-color: rgb(255, 255, 255);
  --blur-color: rgba(248, 239, 239, 0.151);
  --icon-color: rgb(231, 0, 0);
  --name-gradient: linear-gradient(90deg, rgb(250, 250, 250) 0%, #ececec 100%);
  --switch-img: white url(./lightside.svg) no-repeat center;
  --tema-side: 1;
}

a {
  text-decoration: none;
}

#switch {
  align-items: center;
  position: absolute;
  width: 120px;
  margin: 25px 50px;
  top: 5%;
  right: 0;
}

#switch button {
  overflow: hidden;
  background: var(--switch-img);
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  animation: slideoff 0.5s forwards;
}

.dark #switch button {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#switch button:hover {
  outline: 8px solid var(--icon-color);
  cursor: pointer;
}

#switch span {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  width: 119px;
  height: 10px;
  background: var(--blur-color);
  border: solid var(--text-color) 5px;
  border-radius: 999px;
  transform: translateY(-50%);
  top: 50%;
}

#logo {
  text-align: left;
}

#txt {
  display: inline;
  font-size: 20px;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--text-color);
  padding: 0px 60px;
  margin: 0px 2px;
}

body {
  background: var(--background);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  max-height: 100px;
}

form:hover .legenda {
  visibility: visible;
}

.legenda {
  color: var(--text-color);
  font-size: 16px;
  text-align: center;
  font-family: poppins;
  visibility: hidden;
  transition: all ease-in-out 0s;
}

.legenda:visited {
  color: purple;
}

#section0 {
  margin: 10%;
  display: block;
}

ion-icon {
  margin: auto;
  padding: 5px;
  display: flex;
  border-radius: 8px;
  color: var(--icon-color);
  font-size: 64px;
  transition: all 0.1s ease-in-out;
  justify-content: center;
  text-align: center;
  background-color: #ffffff00;
}

ion-icon:hover {
  color: var(--text-color);
  font-size: 75px;
  box-shadow: -10px 5px 100px var(--shadow-color);
}


#portifoliobehance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: auto;
}

.dark .behancecard {
  filter: grayscale();
  transition: all 0.5s ;
  
  }

.dark .behancecard:hover {
filter: none;

}


.behancecard {
  filter: none;
  transition: all 0.5s ;
  
  }

.behancecard:hover {

filter: grayscale();
}




#namebox {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#name {
  font-size: 80px;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  background: var(--name-gradient);
  background-clip: text;
  color: transparent;
}

#curso {
  font-size: 32px;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  color: var(--text-color);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

form {
  display: block;
  margin: auto;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--text-color);
  padding: 50px;
}

.container {
  height: 150px;
  display: block;
  margin: auto;
  position: relative;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: auto;
  padding: 24px;
}

@media (max-width: 600px) {
  .links {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 100%;
    max-height: 1080px;
  }

  .legenda {
    display: flex;
    align-items: last baseline;
    justify-content: flex-end;
    color: var(--text-color);
    font-size: 16px;
    text-align: center;
    font-family: poppins;
    display: none;
    transition: all ease-in-out 0.5s;
  }
  ion-icon {
    border-radius: 9px;
    color: var(--icon-color);
    padding-left: 5px;
    font-size: 32px;
    transition: all 0.1s ease-in-out;
    justify-content: center;
    text-align: center;
    margin: 10%;
  }

  
  .dark .behancecard {
  filter: none;
  
  }
  
  
  .behancecard {
    filter: none;
    transition: all 0.5s ;
    
    }
  


}

@keyframes blurry {
  0% {
    font-size: 64px;
    filter: blur(10px);
  }
  20% {
    font-size: 70px;
  }
  90% {
    color: var(--text-color);
  }
  100% {
    color: var(--text-color);
  }
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slideoff {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
