:root {
  --text-color: black;
  --background: linear-gradient(90deg, #f1eeee 0%, #1817172c 100%) 100vh 100vw;
  --shadow-color: rgb(0, 0, 0);
  --blur-color: rgba(128, 128, 128, 0.329);
  --icon-color: rgb(163, 1, 1);
  --name-gradient: linear-gradient(90deg, rgb(32, 32, 32) 0%, #000213 100%);
  --switch-img: white url(./darkside.svg) no-repeat center;
  --tema-side: 0;
}

.dark {
  --text-color: white;
  --background: linear-gradient(90deg, rgb(32, 32, 32) 0%, #000213 100%) 100vh
    100vw;
  --shadow-color: rgb(255, 255, 255);
  --blur-color: rgba(248, 239, 239, 0.151);
  --icon-color: rgb(231, 0, 0);
  --name-gradient: linear-gradient(90deg, rgb(250, 250, 250) 0%, #ececec 100%);
  --switch-img: white url(./lightside.svg) no-repeat center;
  --tema-side: 1;
}

body {
  background: var(--background);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  
}

a {
  text-decoration: none;
}

section {
  max-width: 100%;
}

.section {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--blur-color);
  backdrop-filter: blur(60px);
  opacity: 0.1;
  transition: all 1s;
}

#navbar:hover {
  opacity: 1;
}

#switch {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  top: 25%;
  right: 0;
}

.dark #switch button {
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#switch button:hover {
  outline: 1px solid var(--icon-color);
  cursor: pointer;
}

#switch button {
  overflow: hidden;
  background: var(--switch-img);
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  animation: slideoff 1s forwards;
}

#switch span {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  width: 100px;
  height: 10px;
  background: var(--text-color);
  border: var(--icon-color);
  border-radius: 999px;
  transform: translateY(-50%);
  top: 50%;
}

#logo {
  text-align: left;
  position: relative;
}

#PH {
  width: 100px;
  display: flex;
  object-fit: contain;
  margin: auto;
  justify-content: right;
  align-items: flex-start;
}

#menucont {
  margin-top: 15px;
  display: flex;
  height: 150px;
  position: relative;
}

.menu {
  width: fit-content;
  height: fit-content;
  position: relative;
  text-align: left;
}

.listicon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  min-width: 1vw;
  margin: 20px 20px auto 20px;
}

.menubtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  width: 150px;
  height: 10px;
  padding: 20px;
}

.menucontent {
  background-color: #ececec;
  width: 150px;
  display: none;
  margin-left: 10px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  text-align: left;
}

.menucontent p:hover {
  background-color: #8f8f8f;
  color: #ececec;
  cursor: pointer;
}

.menu:hover .menucontent {
  display: block;
}

.menu:hover .listicon {
  color: var(--text-color);
}

#txt {
  display: inline;
  font-size: 20px;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--text-color);
  padding: 0px 60px;
  margin: 0px 2px;
}

.links {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  max-height: 100px;
}

form:hover .legenda {
  visibility: visible;
}

.legenda {
  color: var(--text-color);
  margin: 20% auto;
  font-size: 16px;
  text-align: center;
  font-family: poppins;
  visibility: hidden;
  transition: all ease-in-out 0s;
}

.legenda:visited {
  color: purple;
}

#section0 {
  display: flex;
  margin: 10%;
}

ion-icon {
  margin: auto;
  padding: 5px;
  display: flex;
  border-radius: 8px;
  color: var(--icon-color);
  font-size: 64px;
  transition: all 0.1s ease-in-out;
  justify-content: center;
  text-align: center;
  background-color: #ffffff00;
}

ion-icon:hover {
  color: var(--text-color);
  transform: scale(1.5);
}

#aboutme {
  padding: 25px;
  text-align: left;
  background: var(--blur-color);
  width: 90vw;
  height: fit-content;
  margin: 10% auto;
  justify-content: left;
  align-items: flex-start;
}

#aboutme h1 {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: left;
}

#aboutme p {
  color: var(--text-color);
  align-items: center;
  justify-content: left;
  line-height: 2pc;
  margin-top: 10px;
}

#aboutme ul {
  display: flex;
  gap: 10px;
  margin: 1% auto;
  flex-flow: row wrap;
}

#aboutme button {
  border: 0;
  color: var(--text-color);
  padding: 5px;
  width: 100px;
  background: var(--blur-color);
  transition: all 0.5s;
}

#aboutme button:hover {
  border: 0;
  color: var(--background);
  padding: 5px;
  width: 100px;
  background: white;
  cursor: pointer;
}

#aboutme button:active {
  transform: scale(1.2);
}

#cajuicollab {
  color: orange;
}

#quemsou {
  display: none;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: left;
  max-width: 90%;
}

.content h2 {
  color: var(--icon-color);
}

.goals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.goals i {
  justify-self: center;
  align-self: center;
  margin: auto 5px;
  color: var(--icon-color);
  border-radius: 999px;
}

.skillcontainer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 1% auto;
  position: relative;
}

.skillline1 {
  margin-top: 10px;
  height: 2px;
  width: 70%;
  background-color: var(--text-color);
}

.skillline2 {
  margin-top: 10px;
  height: 2px;
  width: 50%;
  background-color: var(--text-color);
}

.skillline3 {
  margin-top: 10px;
  height: 2px;
  width: 70%;
  background-color: var(--text-color);
}

.skillline4 {
  margin-top: 10px;
  height: 2px;
  width: 25%;
  background-color: var(--text-color);
}

#xpcont {
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  border: solid var(--icon-color) 1px;
  padding: 10px;
  border-radius: 9px;
}

#portifoliobehance {
  gap: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.dark .behancecard {
  filter: grayscale();
  transition: all 0.5s;
}

.dark .behancecard:hover {
  filter: none;
}

.behancecard {
  filter: none;
  transition: all 0.5s;
}

.behancecard:hover {
  filter: grayscale();
}

#namebox {
  margin: 5%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#name {
  font-size: 80px;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  display: inline;
  font-style: normal;
  color: var(--text-color);
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

#curso {
  font-size: 25px;
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  color: var(--text-color);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.typeof {
  font-size: xx-large;
  color: var(--text-color);
  margin: 10% auto;
  width: 100%;
  padding: 10px;
  text-align: center;
 
}

.sitecontainer {
  overflow: hidden;
  width: 80%;
  height: 80vh;
  margin: auto;
  position: relative;
  cursor: grab;
}

.sitecontainer img {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  margin: auto;
  user-select: none;
}

#cajuimobile {
  display: none;
}

#cajuidesktop {
  display: block;
}

.projectName {
  color: var(--text-color);
  align-self: flex-end;
  margin-right: 10%;
  text-align: right;
}

.projectName:hover {
  text-decoration: underline;
}

.section h2 {
  text-align: left;
  font-size: 15px;
  color: var(--text-color);
  margin-left: 10%;
}

.frontendCont {
  width: 100%;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-items: left;
  align-items: start;
}

form {
  display: block;
  margin: auto;
}

footer {
  margin-top: 50%;
  background-color: var(--blur-color);
  font-family: Poppins;
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--text-color);
  padding: 50px;
}

.container {
  height: 150px;
  display: block;
  margin: auto;
  position: relative;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: auto;
  padding: 24px;
}

@keyframes blurry {
  0% {
    font-size: 64px;
    filter: blur(10px);
  }
  20% {
    font-size: 70px;
  }
  90% {
    color: var(--text-color);
  }
  100% {
    color: var(--text-color);
  }
}

@keyframes slide {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideoff {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (max-width: 600px) {



  .links {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: 100%;
    max-height: 1080px;
  }

  .legenda {
    display: flex;

    color: var(--text-color);
    font-size: 16px;
    text-align: center;
    font-family: poppins;
    display: none;
    transition: all ease-in-out 0.5s;
  }

  ion-icon {
    border-radius: 9px;
    color: var(--icon-color);
    padding-left: 5px;
    font-size: 32px;
    transition: all 0.1s ease-in-out;
    justify-content: center;
    text-align: center;
    margin: 10%;
  }

  .dark .behancecard {
    filter: none;
  }

  .behancecard {
    filter: none;
    transition: all 0.5s;
  }

  #name {
    font-size: 50px;
    font-family: Poppins;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0;
    background: var(--name-gradient);
    background-clip: text;
    color: transparent;
  }

  .content {
    max-width: none;
  }

  #curso {
    font-size: 12px;
  }

  #cajuimobile {
    display: block;
  }

  #cajuidesktop {
    display: none;
  }
}
